@import "bootstrap";

html, body {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #FCFCFC;
  font-family: "rooney-sans";
}

h1, h2, h3, h4, h5 {
  font-family: "rooney-sans";
  font-weight: 200;
}

a:hover {
  color: #ef502a;
  text-decoration: none;
}

header, footer {
  a {
    color: #3C4650;
  }

  a:hover {
    text-decoration: none;
  }
}

header {
  text-align: center;
}

.container {
  max-width: 750px;
}

.post {
  padding-bottom: 54px;
}

.post .text {
  p, ul, ol {
    font-family: "rooney-sans";
    font-size: 1.3em;
  }
}

.avatar {
  text-align: center;
  max-width: 125px;
  overflow: hidden;

  img {
    border-radius: 100%;
    width: 100%;
  }
}

.time {
  opacity: 0.4;
}

hr.footer {
  border-top: 1px solid #5A5A5A;
  opacity: 0.1;
}

h4.footer {
  margin: 0 0 3px 0;
}
