---
---

@import "{{ site.theme }}";

body {
  font-family: 'Source Code Pro', monospace;
  background-color: white !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333 !important;
    color: white !important;
  }

  blockquote {
    color: white !important;
  }

  a, a:visited {
    color: white !important;
  }

  .post-meta {
    color: #efefef;
  }

  img {
    filter: invert(1);
  }
}

svg {
  font-family: 'Source Code Pro', monospace;
}

pre, code {
  font-family: 'Source Code Pro', monospace;
  background-color: transparent;
  border: none;
  padding: 0;
}

blockquote {
  color: black;
  font-size: 1rem;
  font-style: normal;
}

a, a:visited {
  color: black;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-size: 1rem;
}

.trigger {
  display: none;
}

.site-header {
  border: none;
}

.site-title {
  font-size: 1rem;
  font-weight: normal;
}

.post-meta {
}

.page-heading {
  display: none;
}

.site-footer {
}

.post-title {
  line-height: 1.25;
  font-size: 1rem;
}

a.post-link {
  color: inherit;
}

.pagination {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.highlighter-rouge .highlight {
  background: transparent;
}
