---
---

@import "{{ site.theme }}";

body {
  font-family: -apple-system, system-ui, Verdana, sans-serif;
}

.trigger {
  display: none;
}

.site-header {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #e7f2ff;
}

.site-title {
  font-weight: bold;
}

.post-meta {
  font-weight: bold;
  font-weight: normal;
}

.page-heading {
  display: none;
}

.site-footer {
}

.post-title {
  line-height: 1.25;
}

a.post-link {
  color: inherit;
}

.pagination {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e7f2ff;
}
